* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececf1;
}

h1 {
    color: coral;
    font-weight: normal;
}

.box-1 {
    background-color: rgb(85, 41, 10);
    width: 900px;
    border: 5px solid rgb(5, 5, 14);
    color: white;
    padding: 20px 60px 20px 60px;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 15px;
}


.box_2 {
    background-color: blanchedalmond;
    border: 2px solid rgb(10, 3, 3);
    width: 500px;
    padding: 20px 60px 20px 60px;
}

.category {
    margin-top: 10px;
    border: 2px solid rgb(8, 3, 3);
    padding: 20px;
    background-color: rgb(8, 64, 168);
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;

}

/* .category h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

/* #category1  {
    width: 100px;
    float: left;
}

#category2  {
    float: left;
    width: 100px;
    margin-left: 50px;
}

#category3  {
    float: left;
    width: 100px;
    margin-left: 50px;
} */