* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 350px;
    margin: auto;
}

.login {
    background-color: #eee8f0;
    height: 400;
    width: 300;
    margin-left: 200;
    border-radius: 6px;
    padding: 25px;
}

h1 {
    margin-left: 35px;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(30, 3, 61);
    font-size: large;
    font-weight: 100px;
    font: bolder;
}

form {
    display: grid;
    width: 250;
    margin-left: 25;
    font-family: Arial, Helvetica, sans-serif;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: gray;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

#login {
  background-color: #74748a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  border-radius: 10px;
}

#login:hover {
    opacity: 0.8;
    background-color: rgb(4, 4, 160);
}

a:hover {
    opacity: 0.7;
}

a {
    color: rgb(9, 9, 196);
}