* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(160, 160, 160);
}

.logo {
    display: flex;
    gap: 15px;
}

.nav-logo-icon {
    background-color: aliceblue;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(110, 110, 110);
}

.nav-search {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
    padding: 5px 5px;
}

.nav-search input {
    border: none;
    outline: none;
}

.nav-search div {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    padding: 3px 10px;
}

.nav-search div span{
    padding: 3px 3px;
    color: rgb(131, 131, 131);
}

.nav-search i{
    color: rgb(53, 51, 51);
}

.nav-notification {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-notification button{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
}

.mh {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(158, 158, 185);
    background-color: rgb(238, 238, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mh h2 {
    font-size: 10px;
    color: blue;
}

.x {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: rgb(161, 161, 161) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-outer{
    border: 1px solid rgb(160, 160, 160);
    width: 450px;
    display: flex;
}

.aside-inner {
    border: 1px solid rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.aside-mh {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(158, 158, 185);
    background-color: rgb(239, 241, 238);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-mh h2 {
    font-size: 10px;
    color: blue;
}

.aside-ds {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(158, 158, 185);
    background-color: rgb(230, 255, 251);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-ds h2 {
    font-size: 10px;
    color: green;
}

.aside-vg {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(158, 158, 185);
    background-color: rgb(243, 223, 185);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-vg h2 {
    font-size: 10px;
    color: orange;
}

.aside-inner-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside-inner-arrow {
    background-color: aliceblue;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-inner-elips {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.aside-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
}

.info h2{
    font-size: 15px;
}

.info h3{
    font-size: 8px;
}

.profile-dropdown {
    padding-left: 100px;
}

.navigate {
    padding: 10px 30px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.nav-main div i {
    width: 25px;
    height: 25px;
    color: rgb(114, 114, 114);
}

.nav-main div a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-weight: 700;
}

.more {
    padding: 30px;
}

.links {
    padding: 30px 30px 130px 30px;
}

.social-icon {
    padding: 19px 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    margin: 15px;
}

.nav-main-dashboard {
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3px;
    border-radius: 5px;
    
}

.nav-main h2 {
    padding: 5px 0px;
}

.main-body {
    border: 1px solid rgb(165, 164, 164);
    padding: 10px;
}

.main-body header {
    display: flex;
    gap: 215px;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid rgb(138, 138, 138);
    padding: 5px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-header-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-header-links a {
    text-decoration: none;
    font-size: 15px;
    font-size: 800;
    color: black;
}

.main-header-search {
    display: flex;
    gap: 7px;
    align-items: center;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
    padding: 5px 5px;
}

.main-header-search input {
    border: none;
    outline: none;
}

.main-header-search div {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    padding: 3px 10px;
}

.main-header-search div span{
    padding: 3px 3px;
    color: rgb(131, 131, 131);
}

.main-header-search i{
    color: rgb(53, 51, 51);
}

.main-header-board {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
}

.main-body main {
    border: 1px solid rgb(172, 171, 171);
}

.colors {
    width: 10px;
    height: 10px;
    border: rgb(129, 129, 129) solid 1px;
    border-radius: 2px;
}

.numbers {
    width: 20px;
    height: 20px;
    border: rgb(170, 170, 170) solid 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers span{
    color: rgb(107, 107, 107);
}

.main-head-card1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-head-card1 h3{
    color: rgb(112, 111, 111);
}

.main-head-card {
    display: flex;
    align-items: center;
    gap: 75px;
    border: 1px solid rgb(185, 185, 185);
    padding: 7px 15px;
    border-radius: 5px;

}

.main-head-card i{
    color: rgb(182, 182, 182);
}

.main-head-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.space-task-1 {
    border: 1px solid black;
    width: 254px;
    margin-left: 10px;
    border-radius: 5px;
}

.space-task-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-task-1 h3{
    font-size: 10px;
    padding: 20px 10px;
}

.space-task-icons {
    display: flex;
    gap: 15px;
    padding: 10px;
    padding-bottom: 20px;
}

.main-body-card1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 40px; */
}

.space-task1-img {
    border: 1px solid black;
    width: 254px;
    /* padding: 10px; */
    margin-left: 10px;
    border-radius: 5px;
}

.space-task1-img h3{
    font-size: 12px;
    padding-left: 10px;
}

.space-task-profile h5{
    font-size: 10px;
    margin: 20px 0px;

}

.space-task-profile {
    padding: 10px;
}

.space-task1-card h3{
    font-size: 10px;
}

.main-body-cards {
    display: flex;
    padding-top: 60px;
    gap: 20px;
}

.main-body-card2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 40px; */
}

.main-body-card3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 40px; */
}